@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-[#F8F9FB] text-black;

}

.main-btn{
    @apply btn px-6 bg-orange-500 text-white hover:bg-black hover:text-orange-500 uppercase;
}

button[aria-expanded="true"]{
    @apply text-orange-500;
}

.catalogue-items_wrapper .grid-item {
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.catalogue-items_wrapper {
    padding: 10mm; /* Adds padding on all sides */

}